.leaf rect:hover{
    stroke: black;
    stroke-width: 1px;
  }
  
  .tooltip{
    pointer-events: none;
    background-color: white;
    box-shadow: 0 0 7px gainsboro;
    padding: .5em;
    border-radius: 5px;
  }
  
  .tooltip:not(.visible){
    opacity: 0;
  }

  circle:hover {
    stroke-width: 2.5;
    fill-opacity: 1;
    stroke: rgba(144, 18, 228, 0.836);
    cursor: pointer;
  }

body {
  background-color: #f7f4e9;
  font-family: "Georgia", "Helvetica", sans-serif; 
}

svg {
border: black 4px solid;
font-family: "monteserrat";
}